{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "no-mixed-operators": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "camelcase": 0,
    "react/jsx-filename-extension": [
      2,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    "prettier/prettier": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
